import {readInput} from "./utils.ts";

const part1 = async (): Promise<string | number> => {
    const input = await readInput("dayxx01_test.txt");
    return "";
}

const part2 = async (): Promise<string | number> => {
    const input = await readInput("dayxx02_test.txt");
    return "";
}

console.log(await part1());
console.log(await part2());